* {
    margin: 0;
    padding: 0;
}

body {
    background: #f8f8f8;
}

.line1 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.line2 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

p {
    margin: 0;
    font-size: 14px;
}

header {
    width: 100%;
    height: 64px;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

    .container_header {
        position: relative;
        width: 1200px;
        height: 64px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .login_window {
            position: absolute;
            width: 240px;
            height: 208px;
            background: #ffffff;
            border: 1px solid #e6e6e6;
            top: 64px;
            right: -80px;
            z-index: 3000;
            padding: 20px 12px;
            box-sizing: border-box;
            display: none;

            .avatar {
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;

                .nickname {
                    font-size: 18px;
                    font-weight: bold;
                }

                .hospital {
                    color: #949494;
                    font-size: 12px;
                }

            }

            .login_btn {
                margin-top: 32px;
                width: 100%;
                height: 36px;
                background: #5ccffd;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                border-radius: 6px;
                cursor: pointer;
            }

            .sign_btn {
                margin-top: 8px;
                width: 100%;
                height: 36px;
                background: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #888888;
                border: 1px solid #cccccc;
                border-radius: 6px;
                cursor: pointer;
            }

            .out_btn {
                margin-top: 70px;
                width: 100%;
                height: 36px;
                background: #e04e34;
                text-align: center;
                line-height: 36px;
                color: #ffffff;
                border-radius: 6px;
                cursor: pointer;
                display: none;
            }

            .triangle {
                position: absolute;
                top: -6px;
                left: 50%;
                transform: translate(-50%, 0);
                width: 0;
                height: 0;
                border-width: 0 10px 10px;
                border-style: solid;
                border-color: transparent transparent #ffffff;
            }
        }

        .logo {
            flex: 1;
        }

        .list {
            flex: 1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;

            img {
                display: block;
                width: 24px;
                height: 24px;
                margin-right: 6px;
            }

            p {
                color: #5ccffd;
                font-weight: bold;
                line-height: 64px;
            }
        }

        .search {
            flex: 4;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            input {
                width: 240px;
                height: 36px;
                outline: none;
                border: 1px solid #5ccffd;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
                padding-left: 12px;
            }

            .searchBtn {
                width: 36px;
                height: 36px;
                background: #5ccffd;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                cursor: pointer;

                img {
                    display: block;
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .login {
            flex: 1;
            height: 100%;
            height: 64px;

            a {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                cursor: pointer;
                height: 64px;

                img {
                    width: 32px;
                    height: 32px;
                    display: block;
                }

                p {
                    color: #333333;
                    margin-left: 6px;
                }
            }
        }
    }
}

.banner {
    width: 100%;
    margin-top: 76px;

    .container {
        width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
}

// 在线课程
.online {
    width: 100%;
    margin-top: 42px;

    .container-online {
        width: 1200px;
        margin: 0 auto;

        .title {
            width: 100%;
            height: 40px;
            text-align: center;
            font-size: 24px;
            position: relative;

            span {
                a {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    color: #000000;
                    text-decoration: none;

                    img {
                        display: block;
                        width: 10px;
                        height: 10px;
                        margin-left: 2px;
                    }
                }
            }

            span a:hover {
                text-decoration: underline;
            }
        }

        .desc {
            width: 100%;
            text-align: center;
            font-size: 14px;
            color: #a5a5a5;
            margin-bottom: 15px;
        }

        .online_list {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .online_item {
                position: relative;
                width: 288px;
                height: 270px;
                margin-right: 16px;
                cursor: pointer;
                border-radius: 10px;
                overflow: hidden;

                .pic {
                    overflow: hidden;
                    width: 100%;
                    height: 150px;

                    img {
                        display: block;
                        width: 100%;
                        height: 150px;
                        cursor: pointer;
                        transition: all 0.6s;
                    }
                }

                .message {
                    position: relative;
                    width: 100%;
                    padding: 4px 10px;
                    box-sizing: border-box;
                    height: 150px;

                    .title {
                        position: relative;
                        font-size: 14px;
                        text-align: left;
                        margin: 6px 0 4px 0;
                    }

                    .hospital {
                        width: 100%;
                        height: 18px;
                        line-height: 18px;
                        color: #888888;
                        margin: 6px 0;
                        font-size: 12px;
                    }

                    .timeslot {
                        color: #fd4242;
                        font-size: 12px;

                        span {
                            color: #888888;
                            margin-left: 14px;
                            font-size: 14px;
                        }
                    }
                }
                .zd{
                    position: absolute;
                    top: 0;
                    right: 10px;
                    width: 42px;
                    height: 16px;
                    color: #ffffff;
                    font-size: 12px;
                    background: #e04e34;
                    text-align: center;
                }
            }

            .online_item:nth-child(4n) {
                margin-right: 0;
            }

            .online_item:hover {
                box-shadow: 1px 2px 10px 4px #d3d3d3;

                img {
                    transform: scale(1.2);
                }
            }
        }

        .news_list {
            display: flex;
            justify-content: center;
            align-items: center;

            .news_l {
                position: relative;
                width: 592px;
                height: 422px;
                border-radius: 8px;
                overflow: hidden;

                .l_item {
                    width: 100%;
                    height: 100%;

                    .message {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 80px;
                        background: rgba(0, 0, 0, .6);
                        padding: 8px;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        cursor: pointer;

                        .title {
                            font-size: 18px;
                            color: #ffffff;
                            text-align: left;
                        }

                        .author {
                            font-size: 14px;
                            color: #dbdbdb;
                        }
                    }
                }
            }

            .news_r {
                width: 592px;
                margin-left: 16px;
                height: 422px;

                .r_item {
                    flex: 1;
                    width: 100%;
                    height: 134px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 0 10px 0;
                    box-sizing: border-box;
                    border-radius: 8px;
                    overflow: hidden;
                    cursor: pointer;

                    .rl_item {
                        flex: 2;
                        height: 100%;
                        overflow: hidden;

                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: all 0.6s;
                        }
                    }

                    .rr_item {
                        flex: 3;
                        width: 100%;
                        height: 100%;
                        padding: 8px;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: space-around;
                        align-items: flex-start;
                        flex-direction: column;
                        transition: all 0.6s;

                        .title {
                            width: 100%;
                            height: auto;
                            font-size: 16px;
                            text-align: left;
                        }

                        .author {
                            color: #949494;
                            font-size: 12px;
                        }
                    }
                }

                .r_item:nth-child(3) {
                    padding-bottom: 0;
                }

                .r_item:hover {
                    .rl_item {
                        img {
                            transform: scale(1.2);
                        }
                    }

                    .rr_item {
                        background: #ffffff;
                    }
                }
            }


        }

        .literature_list,
        .policy_list {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .lit_item {
                width: 592px;
                height: 134px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                border-radius: 8px;
                overflow: hidden;
                cursor: pointer;

                .rl_item {
                    flex: 2;
                    height: 100%;
                    overflow: hidden;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all 0.6s;
                    }
                }

                .rr_item {
                    flex: 3;
                    width: 100%;
                    height: 100%;
                    padding: 8px;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;
                    flex-direction: column;
                    transition: all 0.6s;

                    .title {
                        width: 100%;
                        height: auto;
                        font-size: 16px;
                        text-align: left;
                    }

                    .author {
                        color: #949494;
                        font-size: 12px;
                    }
                }
            }

            .lit_item:hover {
                .rl_item {
                    img {
                        transform: scale(1.2);
                    }
                }

                .rr_item {
                    background: #ffffff;
                }
            }

            .lit_item:nth-child(2) {
                margin-left: 20px;
            }
        }
    }
}

// footer
.footer {
    width: 100%;
    margin-top: 62px;

    .top-footer {
        width: 100%;
        height: 42px;
        background: #333333;

        .top_container {
            width: 1200px;
            margin: 0 auto;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #cccccc;

            a {
                color: #cccccc;
                margin: 0 4px;
            }
        }
    }

    .bottom-footer {
        border-top: 1px solid #cccccc;
        width: 100%;
        height: 42px;
        background: #333333;

        .bot_container {
            width: 1200px;
            margin: 0 auto;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #cccccc;
        }
    }
}

//定位框
.lesson_list {
    position: fixed;
    top: 64px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 280px;
    background: #ffffff;
    display: none;
    z-index: 10;

    .content_list {
        padding: 20px 0;
        box-sizing: border-box;
        width: 1200px;
        height: 280px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .list_item {
            width: 150px;
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            color: #000000;
            text-decoration: none;
            font-size: 12px;
            cursor: pointer;
            img {
                display: block;
                width: 32px;
                height: 32px;
                margin-bottom: 8px;
            }
        }
    }
}