* {
  margin: 0;
  padding: 0;
}
body {
  background: #f8f8f8;
}
.line1 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.line2 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
p {
  margin: 0;
  font-size: 14px;
}
header {
  width: 100%;
  height: 64px;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
header .container_header {
  position: relative;
  width: 1200px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container_header .login_window {
  position: absolute;
  width: 240px;
  height: 208px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  top: 64px;
  right: -80px;
  z-index: 3000;
  padding: 20px 12px;
  box-sizing: border-box;
  display: none;
}
header .container_header .login_window .avatar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
header .container_header .login_window .avatar .nickname {
  font-size: 18px;
  font-weight: bold;
}
header .container_header .login_window .avatar .hospital {
  color: #949494;
  font-size: 12px;
}
header .container_header .login_window .login_btn {
  margin-top: 32px;
  width: 100%;
  height: 36px;
  background: #5ccffd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
}
header .container_header .login_window .sign_btn {
  margin-top: 8px;
  width: 100%;
  height: 36px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888888;
  border: 1px solid #cccccc;
  border-radius: 6px;
  cursor: pointer;
}
header .container_header .login_window .out_btn {
  margin-top: 70px;
  width: 100%;
  height: 36px;
  background: #e04e34;
  text-align: center;
  line-height: 36px;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  display: none;
}
header .container_header .login_window .triangle {
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #ffffff;
}
header .container_header .logo {
  flex: 1;
}
header .container_header .list {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
header .container_header .list img {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
header .container_header .list p {
  color: #5ccffd;
  font-weight: bold;
  line-height: 64px;
}
header .container_header .search {
  flex: 4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .container_header .search input {
  width: 240px;
  height: 36px;
  outline: none;
  border: 1px solid #5ccffd;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-left: 12px;
}
header .container_header .search .searchBtn {
  width: 36px;
  height: 36px;
  background: #5ccffd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}
header .container_header .search .searchBtn img {
  display: block;
  width: 24px;
  height: 24px;
}
header .container_header .login {
  flex: 1;
  height: 100%;
  height: 64px;
}
header .container_header .login a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  height: 64px;
}
header .container_header .login a img {
  width: 32px;
  height: 32px;
  display: block;
}
header .container_header .login a p {
  color: #333333;
  margin-left: 6px;
}
.banner {
  width: 100%;
  margin-top: 76px;
}
.banner .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.online {
  width: 100%;
  margin-top: 42px;
}
.online .container-online {
  width: 1200px;
  margin: 0 auto;
}
.online .container-online .title {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 24px;
  position: relative;
}
.online .container-online .title span a {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
}
.online .container-online .title span a img {
  display: block;
  width: 10px;
  height: 10px;
  margin-left: 2px;
}
.online .container-online .title span a:hover {
  text-decoration: underline;
}
.online .container-online .desc {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #a5a5a5;
  margin-bottom: 15px;
}
.online .container-online .online_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.online .container-online .online_list .online_item {
  position: relative;
  width: 288px;
  height: 270px;
  margin-right: 16px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}
.online .container-online .online_list .online_item .pic {
  overflow: hidden;
  width: 100%;
  height: 150px;
}
.online .container-online .online_list .online_item .pic img {
  display: block;
  width: 100%;
  height: 150px;
  cursor: pointer;
  transition: all 0.6s;
}
.online .container-online .online_list .online_item .message {
  position: relative;
  width: 100%;
  padding: 4px 10px;
  box-sizing: border-box;
  height: 150px;
}
.online .container-online .online_list .online_item .message .title {
  position: relative;
  font-size: 14px;
  text-align: left;
  margin: 6px 0 4px 0;
}
.online .container-online .online_list .online_item .message .hospital {
  width: 100%;
  height: 18px;
  line-height: 18px;
  color: #888888;
  margin: 6px 0;
  font-size: 12px;
}
.online .container-online .online_list .online_item .message .timeslot {
  color: #fd4242;
  font-size: 12px;
}
.online .container-online .online_list .online_item .message .timeslot span {
  color: #888888;
  margin-left: 14px;
  font-size: 14px;
}
.online .container-online .online_list .online_item .zd {
  position: absolute;
  top: 0;
  right: 10px;
  width: 42px;
  height: 16px;
  color: #ffffff;
  font-size: 12px;
  background: #e04e34;
  text-align: center;
}
.online .container-online .online_list .online_item:nth-child(4n) {
  margin-right: 0;
}
.online .container-online .online_list .online_item:hover {
  box-shadow: 1px 2px 10px 4px #d3d3d3;
}
.online .container-online .online_list .online_item:hover img {
  transform: scale(1.2);
}
.online .container-online .news_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.online .container-online .news_list .news_l {
  position: relative;
  width: 592px;
  height: 422px;
  border-radius: 8px;
  overflow: hidden;
}
.online .container-online .news_list .news_l .l_item {
  width: 100%;
  height: 100%;
}
.online .container-online .news_list .news_l .l_item .message {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.6);
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.online .container-online .news_list .news_l .l_item .message .title {
  font-size: 18px;
  color: #ffffff;
  text-align: left;
}
.online .container-online .news_list .news_l .l_item .message .author {
  font-size: 14px;
  color: #dbdbdb;
}
.online .container-online .news_list .news_r {
  width: 592px;
  margin-left: 16px;
  height: 422px;
}
.online .container-online .news_list .news_r .r_item {
  flex: 1;
  width: 100%;
  height: 134px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 0;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.online .container-online .news_list .news_r .r_item .rl_item {
  flex: 2;
  height: 100%;
  overflow: hidden;
}
.online .container-online .news_list .news_r .r_item .rl_item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s;
}
.online .container-online .news_list .news_r .r_item .rr_item {
  flex: 3;
  width: 100%;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  transition: all 0.6s;
}
.online .container-online .news_list .news_r .r_item .rr_item .title {
  width: 100%;
  height: auto;
  font-size: 16px;
  text-align: left;
}
.online .container-online .news_list .news_r .r_item .rr_item .author {
  color: #949494;
  font-size: 12px;
}
.online .container-online .news_list .news_r .r_item:nth-child(3) {
  padding-bottom: 0;
}
.online .container-online .news_list .news_r .r_item:hover .rl_item img {
  transform: scale(1.2);
}
.online .container-online .news_list .news_r .r_item:hover .rr_item {
  background: #ffffff;
}
.online .container-online .literature_list,
.online .container-online .policy_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.online .container-online .literature_list .lit_item,
.online .container-online .policy_list .lit_item {
  width: 592px;
  height: 134px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.online .container-online .literature_list .lit_item .rl_item,
.online .container-online .policy_list .lit_item .rl_item {
  flex: 2;
  height: 100%;
  overflow: hidden;
}
.online .container-online .literature_list .lit_item .rl_item img,
.online .container-online .policy_list .lit_item .rl_item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s;
}
.online .container-online .literature_list .lit_item .rr_item,
.online .container-online .policy_list .lit_item .rr_item {
  flex: 3;
  width: 100%;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  transition: all 0.6s;
}
.online .container-online .literature_list .lit_item .rr_item .title,
.online .container-online .policy_list .lit_item .rr_item .title {
  width: 100%;
  height: auto;
  font-size: 16px;
  text-align: left;
}
.online .container-online .literature_list .lit_item .rr_item .author,
.online .container-online .policy_list .lit_item .rr_item .author {
  color: #949494;
  font-size: 12px;
}
.online .container-online .literature_list .lit_item:hover .rl_item img,
.online .container-online .policy_list .lit_item:hover .rl_item img {
  transform: scale(1.2);
}
.online .container-online .literature_list .lit_item:hover .rr_item,
.online .container-online .policy_list .lit_item:hover .rr_item {
  background: #ffffff;
}
.online .container-online .literature_list .lit_item:nth-child(2),
.online .container-online .policy_list .lit_item:nth-child(2) {
  margin-left: 20px;
}
.footer {
  width: 100%;
  margin-top: 62px;
}
.footer .top-footer {
  width: 100%;
  height: 42px;
  background: #333333;
}
.footer .top-footer .top_container {
  width: 1200px;
  margin: 0 auto;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
}
.footer .top-footer .top_container a {
  color: #cccccc;
  margin: 0 4px;
}
.footer .bottom-footer {
  border-top: 1px solid #cccccc;
  width: 100%;
  height: 42px;
  background: #333333;
}
.footer .bottom-footer .bot_container {
  width: 1200px;
  margin: 0 auto;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
}
.lesson_list {
  position: fixed;
  top: 64px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 280px;
  background: #ffffff;
  display: none;
  z-index: 10;
}
.lesson_list .content_list {
  padding: 20px 0;
  box-sizing: border-box;
  width: 1200px;
  height: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.lesson_list .content_list .list_item {
  width: 150px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}
.lesson_list .content_list .list_item img {
  display: block;
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
}
