* {
  margin: 0;
  padding: 0;
}
body {
  background: #f8f8f8;
}
p {
  margin: 0;
  font-size: 14px;
}
header {
  width: 100%;
  height: 64px;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
}
header .container_header {
  position: relative;
  width: 1200px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container_header .login_window {
  position: absolute;
  width: 240px;
  height: 208px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  top: 64px;
  right: -80px;
  z-index: 3000;
  padding: 20px 12px;
  box-sizing: border-box;
  display: none;
}
header .container_header .login_window .avatar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
header .container_header .login_window .avatar .nickname {
  font-size: 18px;
  font-weight: bold;
}
header .container_header .login_window .avatar .hospital {
  color: #949494;
  font-size: 12px;
}
header .container_header .login_window .login_btn {
  margin-top: 32px;
  width: 100%;
  height: 36px;
  background: #5ccffd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
}
header .container_header .login_window .sign_btn {
  margin-top: 8px;
  width: 100%;
  height: 36px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888888;
  border: 1px solid #cccccc;
  border-radius: 6px;
  cursor: pointer;
}
header .container_header .login_window .out_btn {
  margin-top: 70px;
  width: 100%;
  height: 36px;
  background: #e04e34;
  text-align: center;
  line-height: 36px;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  display: none;
}
header .container_header .login_window .triangle {
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #ffffff;
}
header .container_header .logo {
  flex: 1;
}
header .container_header .list {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
header .container_header .list img {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
header .container_header .list p {
  color: #5ccffd;
  font-weight: bold;
  line-height: 64px;
}
header .container_header .search {
  flex: 4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .container_header .search input {
  width: 240px;
  height: 36px;
  outline: none;
  border: 1px solid #5ccffd;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-left: 12px;
}
header .container_header .search .searchBtn {
  width: 36px;
  height: 36px;
  background: #5ccffd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}
header .container_header .search .searchBtn img {
  display: block;
  width: 24px;
  height: 24px;
}
header .container_header .login {
  flex: 1;
  height: 100%;
  height: 64px;
}
header .container_header .login a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  height: 64px;
}
header .container_header .login a img {
  width: 32px;
  height: 32px;
  display: block;
}
header .container_header .login a p {
  color: #333333;
  margin-left: 6px;
}
.news {
  width: 100%;
  padding-top: 64px;
  box-sizing: border-box;
  min-height: 790px;
}
.news .news-container {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.news .news-container .news_l {
  flex: 1;
  min-height: 890px;
  background: #ffffff;
}
.news .news-container .news_l .list_item {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}
.news .news-container .news_l .active {
  background: #5ccffd;
  color: #ffffff;
}
.news .news-container .news_r {
  flex: 4;
  height: 100%;
}
.news .news-container .news_r .item_content {
  width: 100%;
  min-height: 790px;
  display: none;
  background: #ffffff;
}
.news .news-container .news_r .item_content .top_function {
  width: 100%;
  height: 48px;
  padding: 0 8px 0 18px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news .news-container .news_r .item_content .top_function .nav {
  margin-bottom: 12px;
}
.news .news-container .news_r .item_content .top_function .nav img {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 2px;
}
.news .news-container .news_r .item_content .top_function .nav a {
  color: #000000;
}
.news .news-container .news_r .item_content .top_function .search {
  position: relative;
}
.news .news-container .news_r .item_content .top_function .search input {
  width: 240px;
  height: 32px;
  outline: none;
  border: 1px solid #888888;
  border-radius: 16px;
  padding-left: 12px;
  box-sizing: border-box;
}
.news .news-container .news_r .item_content .top_function .search .iconfont {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news .news-container .news_r .item_content .top_function .search .iconfont p {
  color: #888888;
  cursor: pointer;
}
.news .news-container .news_r .item_content .content {
  width: 100%;
  min-height: 790px;
  padding: 0 8px 0 18px;
  box-sizing: border-box;
}
.news .news-container .news_r .item_content .content .news_item {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 6px;
  box-sizing: border-box;
  border-bottom: 1px solid #e7e7e7;
}
.news .news-container .news_r .item_content .content .news_item .news_pic {
  flex: 1;
}
.news .news-container .news_r .item_content .content .news_item .news_pic img {
  display: block;
  width: 100%;
  height: 126px;
}
.news .news-container .news_r .item_content .content .news_item .news_message {
  flex: 3;
  height: 134px;
  padding: 6px 6px 6px 12px;
  box-sizing: border-box;
}
.news .news-container .news_r .item_content .content .news_item .news_message .title {
  font-weight: bold;
  font-size: 16px;
  height: 34px;
}
.news .news-container .news_r .item_content .content .news_item .news_message .abstract {
  font-size: 14px;
  height: 70px;
}
.news .news-container .news_r .item_content .content .news_item .news_message .author {
  font-size: 14px;
  height: 70px;
  color: #888888;
  height: 20px;
}
.news .news-container .news_r .item_content .content .news_item:hover {
  background: #f8f8f8;
}
.news .news-container .news_r .item_content .content .news_item:last-child {
  border-bottom: transparent;
}
.news .news-container .news_r .item_content:nth-child(1) {
  display: block;
}
.footer {
  width: 100%;
  margin-top: 62px;
}
.footer .top-footer {
  width: 100%;
  height: 42px;
  background: #333333;
}
.footer .top-footer .top_container {
  width: 1200px;
  margin: 0 auto;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
}
.footer .top-footer .top_container a {
  color: #cccccc;
  margin: 0 4px;
}
.footer .bottom-footer {
  border-top: 1px solid #cccccc;
  width: 100%;
  height: 42px;
  background: #333333;
}
.footer .bottom-footer .bot_container {
  width: 1200px;
  margin: 0 auto;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
}
.lesson_list {
  position: fixed;
  top: 64px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 280px;
  background: #ffffff;
  display: none;
  z-index: 10;
}
.lesson_list .content_list {
  padding: 20px 0;
  box-sizing: border-box;
  width: 1200px;
  height: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.lesson_list .content_list .list_item {
  width: 150px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}
.lesson_list .content_list .list_item img {
  display: block;
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
}
