* {
  margin: 0;
  padding: 0;
}
body {
  background: #f8f8f8;
}
p {
  margin: 0;
  font-size: 14px;
}
header {
  width: 100%;
  height: 64px;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
}
header .container_header {
  position: relative;
  width: 1200px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container_header .login_window {
  position: absolute;
  width: 240px;
  height: 208px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  top: 64px;
  right: -80px;
  z-index: 3000;
  padding: 20px 12px;
  box-sizing: border-box;
  display: none;
}
header .container_header .login_window .avatar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
header .container_header .login_window .avatar .nickname {
  font-size: 18px;
  font-weight: bold;
}
header .container_header .login_window .avatar .hospital {
  color: #949494;
  font-size: 12px;
}
header .container_header .login_window .login_btn {
  margin-top: 32px;
  width: 100%;
  height: 36px;
  background: #5ccffd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
}
header .container_header .login_window .sign_btn {
  margin-top: 8px;
  width: 100%;
  height: 36px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888888;
  border: 1px solid #cccccc;
  border-radius: 6px;
  cursor: pointer;
}
header .container_header .login_window .out_btn {
  margin-top: 70px;
  width: 100%;
  height: 36px;
  background: #e04e34;
  text-align: center;
  line-height: 36px;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  display: none;
}
header .container_header .login_window .triangle {
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #ffffff;
}
header .container_header .logo {
  flex: 1;
}
header .container_header .list {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
header .container_header .list img {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
header .container_header .list p {
  color: #5ccffd;
  font-weight: bold;
  line-height: 64px;
}
header .container_header .search {
  flex: 4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .container_header .search input {
  width: 240px;
  height: 36px;
  outline: none;
  border: 1px solid #5ccffd;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-left: 12px;
}
header .container_header .search .searchBtn {
  width: 36px;
  height: 36px;
  background: #5ccffd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}
header .container_header .search .searchBtn img {
  display: block;
  width: 24px;
  height: 24px;
}
header .container_header .login {
  flex: 1;
  height: 100%;
  height: 64px;
}
header .container_header .login a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  height: 64px;
}
header .container_header .login a img {
  width: 32px;
  height: 32px;
  display: block;
}
header .container_header .login a p {
  color: #333333;
  margin-left: 6px;
}
.lesson {
  min-height: 568px;
  box-sizing: border-box;
  z-index: -10;
}
.lesson .screen {
  width: 100%;
  box-sizing: border-box;
  margin: 96px 0 16px 0;
  z-index: 100;
}
.lesson .screen .screen-container {
  width: 1200px;
  margin: 0 auto;
}
.lesson .screen .screen-container .nav {
  margin-bottom: 12px;
}
.lesson .screen .screen-container .nav img {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 2px;
}
.lesson .screen .screen-container .nav a {
  color: #000000;
}
.lesson .screen .screen-container .ification {
  width: 100%;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  padding: 12px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.lesson .screen .screen-container .ification .title {
  padding-top: 6px;
  box-sizing: border-box;
  width: 90px;
}
.lesson .screen .screen-container .ification .ification_list {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.lesson .screen .screen-container .ification .ification_list .lesson_item {
  width: 200px;
  height: 32px;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: left;
  line-height: 32px;
  cursor: pointer;
}
.lesson .screen .screen-container .ification .ification_list .active {
  color: #5ccffd;
}
.lesson .screen .screen-container .spend {
  width: 100%;
  padding: 12px 0;
  box-sizing: border-box;
  display: flex;
}
.lesson .screen .screen-container .spend .title {
  width: 90px;
  height: 32px;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: left;
  line-height: 32px;
  cursor: pointer;
}
.lesson .screen .screen-container .spend .spend_list {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.lesson .screen .screen-container .spend .spend_list .spend_item {
  width: 120px;
  height: 32px;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: left;
  line-height: 32px;
  cursor: pointer;
}
.lesson .screen .screen-container .spend .spend_list .active {
  color: #5ccffd;
}
.lesson .screen .screen-container .sort {
  width: 100%;
  padding: 12px 0;
  box-sizing: border-box;
  display: flex;
  border-top: 1px solid #e2e2e2;
}
.lesson .screen .screen-container .sort .title {
  width: 90px;
  height: 32px;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: left;
  line-height: 32px;
  cursor: pointer;
}
.lesson .screen .screen-container .sort .sort_list {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.lesson .screen .screen-container .sort .sort_list .sort_item {
  width: 120px;
  height: 32px;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: left;
  line-height: 32px;
  cursor: pointer;
}
.lesson .screen .screen-container .sort .active {
  color: #5ccffd;
}
.lesson .container-lesson {
  min-height: 568px;
  width: 1200px;
  margin: 0 auto;
}
.lesson .container-lesson .online_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.lesson .container-lesson .online_list .online_item {
  position: relative;
  width: 288px;
  height: 270px;
  margin-right: 16px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 32px;
}
.lesson .container-lesson .online_list .online_item .pic {
  overflow: hidden;
  width: 100%;
  height: 150px;
}
.lesson .container-lesson .online_list .online_item .pic img {
  display: block;
  width: 100%;
  height: 150px;
  cursor: pointer;
  transition: all 0.6s;
}
.lesson .container-lesson .online_list .online_item .message {
  position: relative;
  width: 100%;
  padding: 4px 10px;
  box-sizing: border-box;
  height: 150px;
}
.lesson .container-lesson .online_list .online_item .message .title {
  position: relative;
  font-size: 14px;
  text-align: left;
  margin: 6px 0 4px 0;
  width: 100%;
  height: 40px;
}
.lesson .container-lesson .online_list .online_item .message .hospital {
  width: 100%;
  height: 18px;
  line-height: 18px;
  color: #888888;
  margin: 6px 0;
  font-size: 12px;
}
.lesson .container-lesson .online_list .online_item .message .timeslot {
  color: #fd4242;
  font-size: 12px;
}
.lesson .container-lesson .online_list .online_item .message .timeslot span {
  color: #888888;
  margin-left: 14px;
  font-size: 14px;
}
.lesson .container-lesson .online_list .online_item .zd {
  position: absolute;
  top: 0;
  right: 10px;
  width: 42px;
  height: 16px;
  color: #ffffff;
  font-size: 12px;
  background: #e04e34;
  text-align: center;
}
.lesson .container-lesson .online_list .online_item:nth-child(4n) {
  margin-right: 0;
}
.lesson .container-lesson .online_list .online_item:hover {
  box-shadow: 1px 2px 10px 4px #d3d3d3;
}
.lesson .container-lesson .online_list .online_item:hover img {
  transform: scale(1.2);
}
.footer {
  width: 100%;
}
.footer .top-footer {
  width: 100%;
  height: 42px;
  background: #333333;
}
.footer .top-footer .top_container {
  width: 1200px;
  margin: 0 auto;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
}
.footer .top-footer .top_container a {
  color: #cccccc;
  margin: 0 4px;
}
.footer .bottom-footer {
  border-top: 1px solid #cccccc;
  width: 100%;
  height: 42px;
  background: #333333;
}
.footer .bottom-footer .bot_container {
  width: 1200px;
  margin: 0 auto;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
}
.lesson_list {
  position: fixed;
  top: 64px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 280px;
  background: #ffffff;
  display: none;
  z-index: 10;
}
.lesson_list .content_list {
  padding: 20px 0;
  box-sizing: border-box;
  width: 1200px;
  height: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.lesson_list .content_list .list_item {
  width: 150px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}
.lesson_list .content_list .list_item img {
  display: block;
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
}
